<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <style>
        .btn-rounded {
            border-radius: 15px;
        }

        .dynamic-height {
            box-sizing: border-box;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-light bg-light p-3">
        <div class="d-flex col-12 col-md-3 col-lg-2 mb-2 mb-lg-0 flex-wrap flex-md-nowrap justify-content-between">
            <h5 id="username-display"></h5>
            <button class="navbar-toggler d-md-none collapsed mb-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#sidebar" aria-controls="sidebar" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <form id="search-form">
            <label>
                <input type="text" id="search-username" placeholder="Enter username"/>
            </label>
            <button class="btn btn-info" type="submit">Search</button>
        </form>
        <form id="logout-form">
            <button class="btn-secondary btn-rounded" type="submit">Logout</button>
        </form>
    </nav>

    <div class="row">
        <div class="container-fluid">
            <div class="row">
                <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                    <div class="position-sticky pt-3">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="/admin">
                                    Admin
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/user">
                                    User
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <div class="col-10 offset-2">
                    <h1 class="mt-3">Admin panel</h1>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="users-tab" data-bs-toggle="tab" href="#users" role="tab"
                               aria-controls="users" aria-selected="true">Users Table</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="new-user-tab" data-bs-toggle="tab" href="#new-user" role="tab"
                               aria-controls="new-user" aria-selected="false">New User</a>
                        </li>
                    </ul>

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
                            <div class="table-responsive mt-3">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>User name</th>
                                        <th>Password</th>
                                        <th>Nameowner</th>
                                        <th>Roles</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody id="users-table">
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="new-user" role="tabpanel" aria-labelledby="new-user-tab">
                            <div class="mt-3">
                                <h3>Add New User</h3>
                                <form id="add-user-form">
                                    <div class="form-group">
                                        <label for="new-username">Username</label>
                                        <input type="text" class="form-control" id="new-username"
                                               placeholder="Enter username">
                                    </div>
                                    <div class="form-group">
                                        <label for="new-password">Password</label>
                                        <input type="password" class="form-control" id="new-password"
                                               placeholder="Enter password">
                                    </div>
                                    <div class="form-group">
                                        <label for="new-nameowner">Nameowner</label>
                                        <input type="text" class="form-control" id="new-nameowner"
                                               placeholder="Enter nameowner">
                                    </div>
                                    <div class="form-group">
                                        <label for="new-roles">Select a role/few roles (ctrl+role)</label>
                                        <select class="form-control dynamic-height" id="new-roles" multiple>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-primary mt-3">Add</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal for editing user -->
<div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUserModalLabel">Edit User</h5>
            </div>
            <div class="modal-body">
                <form id="edit-user-form">
                    <div class="mb-3">
                        <label for="modal-id" class="form-label">Id</label>
                        <input type="text" class="form-control" id="modal-id" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="modal-username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="modal-username" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="modal-password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="modal-password">
                    </div>
                    <div class="mb-3">
                        <label for="modal-nameowner" class="form-label">Nameowner</label>
                        <input type="text" class="form-control" id="modal-nameowner">
                    </div>
                    <div class="mb-3">
                        <label for="modal-roles" class="form-label">Roles</label>
                        <select multiple class="form-control" id="modal-roles"></select>
                    </div>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteUserModalLabel">Delete User</h5>
            </div>
            <div class="modal-body">
                <form id="deleteForm">
                    <input type="hidden" id="delete-username" name="username"/>

                    <div class="form-group mb-2">
                        <label for="deleteUserId">ID</label>
                        <input type="text" class="form-control" id="deleteUserId" disabled/>
                    </div>

                    <div class="form-group mb-2">
                        <label for="deleteUsername">Username</label>
                        <input type="text" class="form-control" id="deleteUsername" disabled/>
                    </div>

                    <div class="form-group mb-2">
                        <label for="deleteNameowner">Owner Name</label>
                        <input type="text" class="form-control" id="deleteNameowner" disabled/>
                    </div>

                    <div class="form-group mb-2">
                        <label for="deleteRoles">Roles</label>
                        <select class="form-control dynamic-height" id="deleteRoles" name="roles" multiple disabled>
                        </select>
                    </div>

                    <p>Are you sure you want to delete user <strong><span id="delete-user-username"></span></strong>?
                    </p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirm-delete">Delete</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>

<script>

    document.addEventListener('DOMContentLoaded', () => {

        fetch('/api/v1/admin/principal')
            .then(response => response.json())
            .then(data => {
                console.log("this is data " + data.username + data.roles.join(', '));
                document.getElementById('username-display').textContent = `${data.username} with roles: ${data.roles.map(role => role.rolename.substring(role.rolename.lastIndexOf('_') + 1)).join(', ')}`;
            })
            .catch(error => console.error('Error fetching principal:', error));


        function loadUsers() {
            fetch('/api/v1/admin')
                .then(response => response.json())
                .then(data => {
                    const usersTable = document.getElementById('users-table');
                    usersTable.innerHTML = '';
                    data.forEach(user => {
                        const row = document.createElement('tr');
                        row.innerHTML = `
                        <td>${user.id}</td>
                        <td>${user.username}</td>
                        <td>${user.password}</td>
                        <td>${user.nameowner}</td>
                        <td>${user.roles.map(role => role.rolename).join(', ')}</td>
                        <td><button class="btn btn-info open-modal" data-username="${user.username}">Edit</button></td>
                        <td><button class="btn btn-danger open-delete-modal" data-username="${user.username}">Delete</button></td>
                    `;
                        usersTable.appendChild(row);
                    });
                })
                .catch(error => console.error('Error loading users:', error));
        }

        function loadRoles() {
            fetch('/api/v1/admin/roles')
                .then(response => response.json())
                .then(data => {
                    const newRoles = document.getElementById('new-roles');
                    const modalRoles = document.getElementById('modal-roles');
                    newRoles.innerHTML = '';
                    modalRoles.innerHTML = '';
                    data.forEach(role => {
                        const option = document.createElement('option');
                        option.value = role.id;
                        option.textContent = role.rolename;
                        newRoles.appendChild(option.cloneNode(true));
                        modalRoles.appendChild(option);
                    });
                })
                .catch(error => console.error('Error loading roles:', error));
        }

        document.getElementById('add-user-form').addEventListener('submit', function (event) {
            event.preventDefault();

            const newUser = {
                username: document.getElementById('new-username').value,
                password: document.getElementById('new-password').value,
                nameowner: document.getElementById('new-nameowner').value,
                roles: Array.from(document.getElementById('new-roles').selectedOptions).map(option => ({
                    rolename: option.textContent
                }))
            };

            fetch('/api/v1/admin/save', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(newUser)
            })
                .then(response => response.json())
                .then(() => {
                    loadUsers();
                    document.getElementById('add-user-form').reset();
                })
                .catch(error => console.error('Error adding user:', error));
        });


        document.getElementById('search-form').addEventListener('submit', function (event) {
            event.preventDefault();
            const username = document.getElementById('search-username').value;
            fetch(`/api/v1/admin/find?username=${encodeURIComponent(username)}`)
                .then(response => response.json())
                .then(data => {
                    const usersTable = document.getElementById('users-table');
                    usersTable.innerHTML = '';
                    if (data) {
                        const row = document.createElement('tr');
                        row.innerHTML = `
                        <td>${data.id}</td>
                        <td>${data.username}</td>
                        <td>${data.password}</td>
                        <td>${data.nameowner}</td>
                        <td>${data.roles.map(role => role.rolename).join(', ')}</td>
                        <td><button class="btn btn-info open-modal" data-username="${data.username}">Edit</button></td>
                        <td><button class="btn btn-danger open-delete-modal" data-username="${data.username}">Delete</button></td>
                    `;
                        usersTable.appendChild(row);
                    }
                })
                .catch(error => console.error('Error searching user:', error));
        });

        document.addEventListener('click', function (event) {
            if (event.target.classList.contains('open-modal')) {
                const username = event.target.getAttribute('data-username');

                fetch(`/api/v1/admin/${username}`)
                    .then(response => response.json())
                    .then(user => {
                        document.getElementById('modal-id').value = user.id;
                        document.getElementById('modal-username').value = user.username;
                        document.getElementById('modal-password').value = user.password;
                        document.getElementById('modal-nameowner').value = user.nameowner;

                        fetch('/api/v1/admin/roles')
                            .then(response => response.json())
                            .then(allRoles => {
                                const modalRoles = document.getElementById('modal-roles');
                                modalRoles.innerHTML = '';

                                allRoles.forEach(role => {
                                    const option = document.createElement('option');
                                    option.value = role.id;
                                    option.textContent = role.rolename;

                                    if (user.roles.some(userRole => userRole.id === role.id)) {
                                        option.selected = true;
                                    }

                                    modalRoles.appendChild(option);
                                });

                                const editModal = new bootstrap.Modal(document.getElementById('editUserModal'));
                                editModal.show();
                            })
                            .catch(error => console.error('Error loading roles:', error));
                    })
                    .catch(error => console.error('Error fetching user details:', error));
            }
        });

        document.getElementById('edit-user-form').addEventListener('submit', function (event) {
            event.preventDefault();

            const editedUser = {
                username: document.getElementById('modal-username').value,
                password: document.getElementById('modal-password').value,
                nameowner: document.getElementById('modal-nameowner').value,
                roles: Array.from(document.getElementById('modal-roles').selectedOptions).map(option => ({
                    id: option.value,
                    rolename: option.textContent
                }))
            };

            fetch(`/api/v1/admin/update/${editedUser.username}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(editedUser)
            })
                .then(response => {
                    if (response.ok) {
                        loadUsers();
                        const editModal = bootstrap.Modal.getInstance(document.getElementById('editUserModal'));
                        editModal.hide();
                    }
                })
                .catch(error => console.error('Error updating user:', error));
        });


        document.addEventListener('click', function (event) {
            if (event.target.classList.contains('open-delete-modal')) {
                const username = event.target.getAttribute('data-username');
                fetch(`/api/v1/admin/${username}`)
                    .then(response => response.json())
                    .then(user => {
                        document.getElementById('deleteUserId').value = user.id;
                        document.getElementById('deleteUsername').value = user.username;
                        document.getElementById('deleteNameowner').value = user.nameowner;
                        document.getElementById('delete-username').value = user.username;
                        document.getElementById('delete-user-username').textContent = user.username;

                        const deleteRoles = document.getElementById('deleteRoles');
                        deleteRoles.innerHTML = '';
                        user.roles.forEach(role => {
                            const option = document.createElement('option');
                            option.value = role.id;
                            option.textContent = role.rolename;
                            option.selected = true;
                            deleteRoles.appendChild(option);
                        });

                        const deleteModal = new bootstrap.Modal(document.getElementById('deleteUserModal'));
                        deleteModal.show();
                    })
                    .catch(error => console.error('Error fetching user details:', error));
            }
        });

        document.getElementById('confirm-delete').addEventListener('click', function () {
            const username = document.getElementById('delete-username').value;
            fetch(`/api/v1/admin/delete?username=${encodeURIComponent(username)}`, {
                method: 'DELETE'
            })
                .then(response => {
                    if (response.ok) {
                        loadUsers();
                        const deleteModal = bootstrap.Modal.getInstance(document.getElementById('deleteUserModal'));
                        deleteModal.hide();
                    }
                })
                .catch(error => console.error('Error deleting user:', error));
        });


        document.getElementById('logout-form').addEventListener('submit', function (event) {
            event.preventDefault();

            fetch('/logout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                }
            }).then(response => {
                if (response.ok) {
                    window.location.href = '/login?logout';
                } else {
                    console.error('Logout failed');
                }
            }).catch(error => console.error('Error:', error));
        });

        loadUsers();
        loadRoles();
    });


</script>
</body>
</html>

