<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>T_2.3.1</title>
</head>

<body>
<form th:action="@{/admin/save}" method="post" th:object="${user}">
    <label for="username">Please write "username"</label>
    <input id="username" type="text" th:field="*{username}" placeholder="Enter username"/>

    <label for="password">Please write "password"</label>
    <input id="password" type="text" th:field="*{password}" placeholder="Enter password"/>

    <label for="nameowner">Please write "nameowner"</label>
    <input id="nameowner" type="text" th:field="*{nameowner}" placeholder="Enter nameowner"/>

    <label for="roles">Please select role</label>
    <select id="roles" th:field="*{roles}">
        <option value="" disabled selected>Select a role</option>
        <option th:each="role : ${rolesList}"
                th:value="${role.getId()}"
                th:text="${role.getRolename()}">Role</option>
    </select>

    <input type="submit" value="Add"/>

    <div th:if="${errorMessage}">
        <p th:text="${errorMessage}" style="color: red;"></p>
    </div>
    <p><a th:href="@{/admin}">Перейти к таблице с пользователями</a></p>
</form>
<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>
</body>
</html>